<!DOCTYPE html>
<html lang="en" ng-app="factronicaUiApp">
  <head>
    <meta charset="utf-8">
    <title>Facturcion Eletronica :: Factronica</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="styles/font-awesome.css" rel="stylesheet">
    <link href="styles/base-admin-3.css" rel="stylesheet">
    <link href="styles/base-admin-3-responsive.css" rel="stylesheet">
    <link href="styles/custom.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body ng-controller="MainCtrl">

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="icon-cog"></i>
          </button>
          <a class="navbar-brand" href="./index.html">Factronica</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="javscript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i>Rod Howard<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:;">My Profile</a></li>
                <li><a href="javascript:;">My Groups</a></li>
                <li class="divider"></li>
                <li><a href="javascript:;">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div> <!-- /.container -->
    </nav>

    <div class="subnavbar">
      <div class="subnavbar-inner">
        <div class="container">
          <a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="icon-reorder"></i>
          </a>
          <div class="collapse subnav-collapse">
            <ul class="mainnav" >
              <li ng-mouseover="activeHome = 'active'" ng-mouseleave="activeHome=''" ng-class="activeHome" >
                <a href="./index.html">
                  <i class="icon-home"></i>
                  <span>Home</span>
                </a>
              </li>
              <li class="dropdown" ng-repeat="menu in NavigationBar.menu" ng-mouseover="active = 'active'" ng-mouseleave="active=''" ng-class="active">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="{{menu.icon}}"></i>
                  <span>{{menu.name}}</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="subMenu in menu.subMenu"><a href="./elements.html">{{subMenu.name}}</a></li>
                </ul>
              </li>
            </ul>
          </div> <!-- /.subnav-collapse -->
        </div> <!-- /container -->
      </div> <!-- /subnavbar-inner -->
    </div> <!-- /subnavbar -->
    
    <div class="main">
      <div class="container">
        <div class="row">
          <div ng-view=""></div>
          
        </div> <!-- /row -->
      </div> <!-- /container -->
    </div> <!-- /main -->
    
    <div class="footer">
      <div class="container">
        <div class="row">
          <div id="footer-copyright" class="col-md-6">&copy; 2014 Factronica.</div> <!-- /span6 -->
          <div id="footer-terms" class="col-md-6">
            Facturacion Electronica
          </div> <!-- /.span6 -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </div> <!-- /footer -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- endbuild -->

  </body>
</html>
